.page-header {
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient($secondary-bg-color-transp, $secondary-bg-color-transp),
    url(../images/main/overlay-mobile-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1600px;
  height: 400px;

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-bg-color;
    // margin-bottom: 30px;
    margin: 0 auto;
    max-width: 365px;
  }
}

@media screen and (max-width: 767px) {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-header {
      max-width: 1600px;
      background-image: url(../images/main/overlay-mobile-img@2.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    background-image: linear-gradient($secondary-bg-color-transp, $secondary-bg-color-transp),
      url(../images/main/overlay-tab-img.jpg);
  }
}

@media screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-header {
      background-image: url(../images/main/overlay-tab-img@2.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .page-header__title {
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .page-header {
      background-image: url(../images/main/ovelay-img@2.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding: 200px 0;
    background-image: linear-gradient($secondary-bg-color-transp, $secondary-bg-color-transp),
      url(../images/main/ovelay-img@1.jpg);
    height: 600px;

    &__title {
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      max-width: 696px;
      max-height: 120px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}
